<div class="body">
<div class="container mt-5 home-component">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/assets/img/principal.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/assets/img/carrousel2.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/assets/img/carrousel3.webp" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  
    <div class="row mt-4">
      <div class="col-md-4">
        <div class="card">
          <img src="/assets/img/equipment.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Recursos</h5>
            <p class="card-text">Descubre nuestra amplia selección de recursos disponibles para ti.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="/assets/img/party.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Eventos</h5>
            <p class="card-text">Explora los emocionantes eventos que tenemos preparados para ti.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="/assets/img/library.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Foro</h5>
            <p class="card-text">Únete a la comunidad y participa en interesantes debates y conversaciones.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
