

/* Estilos para los márgenes laterales */
.container {
  margin-right: auto;
  margin-left: auto;
}

/* Estilos para la alineación vertical de los elementos del carrusel */
.carousel-inner img {
  margin: auto;
}

/* Estilos para las tarjetas */
.card {
  margin-top: 20px;
}

/* Estilos para el carrusel */
.carousel-inner .carousel-item img {
    width: 100%;
    height: 400px; /* Altura predefinida del carrusel */
    object-fit: cover;
  }
  
  /* Estilos para las imágenes de las tarjetas */
  .card-img-top {
    width: 100%;
    height: 200px; /* Altura predefinida de las imágenes de las tarjetas */
    object-fit: cover;
  }
  