
<div *ngIf="personaje; else noPersonaje">
  <div class="d-flex justify-content-start w-100 mt-5 ms-5" style="max-width: 300px;">
    <button class="btn-back" onclick="window.history.back();">
      <i class="fas fa-arrow-left"></i> Volver
    </button>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body text-center">
            <img
              id="retrato"
              class="img-fluid rounded-circle retrato-pequeno mb-4 retrato"
              src="/assets/img/Cleriga.jpg"
              alt="Retrato del personaje"
            />
            <h5 class="card-title">DETALLES</h5>
            <hr>
            <div class="mb-4 d-flex justify-content-between align-items-center">
              <label for="nombre" class="form-label">Nombre:</label>
              <p id="nombre" class="form-control-custom m-0 w-auto">{{ personaje.nombre }}</p>
            </div>
            <div class="mb-4 d-flex justify-content-between align-items-center">
              <label for="ascendencia" class="form-label">Ascendencia:</label>
              <p id="ascendencia" class="form-control-custom  m-0 w-auto">{{ personaje.ascendencia.nombre }}</p>
            </div>
            <div class="mb-4 d-flex justify-content-between align-items-center">
              <label for="clase" class="form-label">Clase:</label>
              <p id="clase" class="form-control-custom  m-0 w-auto">{{ personaje.clase.nombre }}</p>
            </div>
            <div class="mb-4 d-flex justify-content-between align-items-center">
              <label for="alineamiento" class="form-label">Alineamiento:</label>
              <p id="alineamiento" class="form-control-custom  m-0 w-auto">{{ personaje.alineamiento.nombre }}</p>
            </div>
            <h5 class="card-title" *ngIf="personaje.cronica">Crónica</h5>
            <div class="mb-4" *ngIf="personaje.cronica">
              <p id="cronica" class="form-control">{{ personaje.cronica }}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Columna para habilidades  -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">HABILIDADES</h5>
            <hr>
            <div class="">
              <!-- <label class="form-label">HABILIDADES FIJAS:</label> -->
              <ul class="list-group">
                <li
                  class="list-group-item"
                  *ngFor="let habilidad of habilidadesFijas"
                >
                  {{ habilidad }}
                </li>
              </ul>
            </div>
            <div class="">
              <!-- <label class="form-label">Habilidades:</label> -->
              <ul class="list-group">
                <li
                  class="list-group-item"
                  *ngFor="let habilidad of habilidadesFijasSeleccionadas"
                >
                  {{ habilidad }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
        <h5 class="card-title">CARACTERISTICAS</h5>
        <hr>
        <div class="mb-4">
          <label for="pg" class="form-label">Puntos de Golpe (PG):</label>
          <span id="pg" class="form-control-custom">{{ personaje.pg }}</span>
        </div>
        <div class="mb-4">
          <label for="ca" class="form-label">Clase de Armadura (CA):</label>
          <span id="ca" class="form-control-custom">{{ personaje.ca }}</span>
        </div>
        <div class="mb-4">
          <label for="percepcionPasiva" class="form-label"
            >Percepción Pasiva:</label
          >
          <span id="percepcionPasiva" class="form-control-custom">{{
            personaje.percepcionPasiva
          }}</span>
        </div>
        <div class="mb-4">
          <label for="iniciativa" class="form-label">Iniciativa:</label>
          <span id="iniciativa" class="form-control-custom">{{
            personaje.iniciativa
          }}</span>
        </div>
        <!-- <div class="mb-4 d-flex justify-content-between align-items-center">
          <label class="form-label">Ejemplo</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              readonly
              value="personaje[item.key]"
            />
            <span class="input-group-text"
              >Mod: calcularModificador(personaje[item.key])</span
            >
          </div>
        </div> -->

        

    </div>
      </div>

    </div>

    </div>  <!--row-->
  </div>
</div>

<ng-template #noPersonaje>
  <div class="container text-center mt-5" id="noPersonaje">
    <h1 class="mb-4"> ¡Ups! parece que el personaje solo está en tu imaginación, es hora de crearlo </h1>
    <div class="mb-4">
      <img
        id="dados"
        class="img-fluid rounded-circle mb-4"
        src="/assets/img/DADO.png"
        alt="Personajes en vacío"
      />
    </div>
    <div>
      <button class="btn btn-primary btn-lg" (click)="crearPersonaje()">
        Crear personaje
      </button>
    </div>
  </div>
</ng-template>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.4/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net"></script>
