
<div class="d-flex justify-content-start w-100 mt-5 ms-5" style="max-width: 300px;">
  <button class="btn-back" onclick="window.history.back();">
    <i class="fas fa-arrow-left"></i> Volver
  </button>
</div>

<div class="container mt-5">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 mt-5">
          <ng-container *ngIf="personajes.length > 0; else noPersonaje">
              <div class="col" *ngFor="let personaje of personajes">
                  <div (click)="verDetalle(personaje.idPersonaje)">
                      <div class="card">
                          <img src="/assets/img/Cleriga.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                              <h5 class="card-title">{{ personaje.nombre }}</h5>
                              <p class="card-text">
                                  {{ personaje.ascendencia.nombre }} <br />
                                  {{ personaje.clase.nombre }} nivel {{ personaje.nivel }}
                              </p>
                          </div>
                      </div>
                  </div>                
              </div>
          </ng-container>

          <div class="d-flex justify-content-end w-100 mt-5">
            <button class="btn btn-primary btn-lg" (click)="crearPersonaje()">Crear personaje</button>
          </div>       

          <ng-template #noPersonaje>
            <div class="container text-center mt-3" id="noPersonaje">
              <h1 class="mb-4">Vaya, parece que tu mazmorra está vacía, ¡comienza ahora!</h1>
              <div class="mb-4">
                <img id="dados" class="img-fluid rounded-circle mb-4" src="/assets/img/Dados.png" alt="Personajes en vacío" />
              </div>
              <div>
                <button class="btn btn-primary btn-lg" (click)="crearPersonaje()">Crear personaje</button>
              </div>
            </div>
          </ng-template>
      </div>
  </div>

