@font-face {
    font-family: 'Modesto';
    src: url("../../assets/fonts/Modesto.ttf") format('ttf');
}


/*Paleta de colores*/

.base {
    background-color: #4f79cb; 
}

.secundario {
    background-color: #676C77; 
}

.ternario {
    background-color: #474D3B; 
}

.positivo {
    background-color: #ADCC6C !important; 
}

.negativo {
    background-color: #CC7B6C; 
}

html,
body {
    height: 100%;
    background-color: #ffffff1a !important; 
}
body {

    display: flex;
    flex-direction: column;
    background-color: #ffffff1a !important; 
}

main{
    flex: 1;
}

.card {
    transition: transform .3s; 
    border:0 !important; 
}

.card:hover {
    transform: scale(1.05) !important;
    cursor: pointer;

}

.btn-back{
    color: white !important;
    border-radius: 50px !important;
    background-color:  #CE8821; 
    border: none
  }
  
.card:hover .card-title {
    color: #2d8a9c;
}

.card:active .card-title {
    color: #ce8821;
}

.card .card-img-top {
    max-width: 340px;
    padding: 30px;
    border-radius: 50%; 
    overflow: hidden; 
}

.card-body {
    text-align: center;
}

.card-title {
    font-family: "Modesto", sans-serif;
    font-size:xx-large
}


.btn {
    background-color: #2d8a9c !important;
   color: rgb(255, 255, 255) !important;
   border-radius: 25px !important;
   font-weight: 500 !important;
}

.btn:hover {
    background-color: #1f5e6a !important;
}

#noPersonaje h1 {
    font-family: "Modesto", sans-serif;
    color: #fff;
    margin-bottom: 20px;
    max-width: 100%; 
    width: auto;
}

#noPersonaje img {
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
    margin-bottom: 20px;
}

#noPersonaje .btn {
    background-color: #2d8a9c !important;
    color: rgb(255, 255, 255) !important;
    border-radius: 25px !important;
    font-weight: 500 !important;
}

#noPersonaje .btn:hover {
    background-color: #1f5e6a !important;
}


