
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>pjDungeons</title>

    <link rel="stylesheet" type="text/css" href="allpj.component.css" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>
  <body>


    <div class="container mt-5">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 mt-5">
        <div class="col">
          <div class="card">
            <img
              src="../../assets/img/Morea.jpeg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Morea Elurien</h5>
              <p class="card-text">Elfa Shadar-Kai <BR />Bárbara nivel 2</p>
              <!-- <a href="#" class="btn positivo">Ver Personaje</a> -->
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <img
              src="../../assets/img/Kildan.jpeg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Kildan Faeryn</h5>
              <p class="card-text">
                Tiefling <br />
                Hechicero nivel 5
              </p>
              <!-- <a href="#" class="btn positivo">Ver Personaje</a> -->
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <img
              src="../../assets/img/Maga.jpeg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Bruna Sylmar</h5>
              <p class="card-text">
                Semielfa <br />
                Maga nivel 1
              </p>
              <!-- <a href="#" class="btn positivo">Ver Personaje</a> -->
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <img
              src="../../assets/img/Cleriga.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Sua Teluur</h5>
              <p class="card-text">
                Gnoma <br />
                Guerrera nivel 3
              </p>
              <!-- <a href="#" class="btn positivo">Ver Personaje</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>


  </body>
  <app-footer></app-footer>