@font-face {
  font-family: "Modesto";
  src: url("../../assets/fonts/Modesto.ttf") format("ttf");
}

.base {
  background-color: #6c8ccd;
}

.secundario {
  background-color: #676c77;
}

.ternario {
  background-color: #474d3b;
}

.positivo {
  background-color: #adcc6c !important;
}

.negativo {
  background-color: #cc7b6c;
}

html,
body {
  height: 100%;
  background-color: #ffffff1a !important;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #ffffff1a !important;
}

main {
  flex: 1;
}

.card {
  transition: transform 0.3s;
  border: 0 !important;
}

.btn-back{
  color: white !important;
  border-radius: 50px !important;
  background-color:  #CE8821; 
}

.card .card-title {
  color: #2d8a9c;
}

.card .card-img-top {
  border-radius: 50%;
  overflow: hidden;
}

.card-body {
  text-align: center;
}

.card-title {
  font-family: "Modesto", sans-serif;
  font-size: xx-large;
}

.btn {

   font-family: Modesto;
   background-color: #2d8a9c !important;
   color: white !important;
   border-radius: 25px !important;
   border:none;
   word-spacing: 4px;
   letter-spacing: 2px;
   font-weight: 500 !important;
   padding: 8px 40px;
}

.btn:hover {
  background-color: #1f5e6a !important;
}
