body {
  font-family: "Roboto", sans-serif !important;
  background-color: #222831 !important;
  overflow: hidden;
}

.form-label {
  font-weight: 500 !important;
  font-size: large;
  color: #ffffff;
}

.form-control {
  border-radius: 25px !important;
  border: 2px solid #ffffff !important;
  width: 400px;
  margin: auto;
}
.btn {
  color: #ffffff !important;
  font-family: Modesto !important;
  background-color: #2d8a9c !important;
  border-radius: 25px !important;
  padding: 10px 20px !important;
  font-weight: 500 !important;
  transition: all 0.3s ease !important;
  width: 200px;

}

.btn:hover {
  background-color: #ce8821 !important;
}

.small {
  font-size: 1rem !important;
}

.small a {
  color: #2d8a9c !important;
  text-decoration: none !important;
}

.small a:hover {
  text-decoration: underline !important;
  color: #ce8821 !important;
}
#logoLogin {
  width: 200px;
  height: auto;
  transition: transform 1.5s; 
}

#logoLogin:hover {
  cursor: pointer;
  animation: diceFall 3s ease-in-out forwards; 
}

@keyframes diceFall {
  0% {
    transform: perspective(600px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateY(0);
  }
  100% {
    transform: perspective(600px) rotateX(360deg) rotateY(360deg) rotateZ(360deg) translateY(-40px);
  }
}

p {
  font-weight: 500 !important;
  font-size: 1.5rem !important;
  color: white;
}

#iniciar {
  color: #ffffff;
}







