<body>
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center min-vh-100"> <!-- Asegura que esté centrado verticalmente -->
      <!-- Columna para el formulario -->
      <div class="col-md-6">
        <div class="container text-center p-4"> <!-- Añade padding para espaciar el contenido -->
          <img id="logoLogin" src="../../assets/img/logoBlanco.png" class="mb-4 mt-4" (click)="goHome()">
          <p id="iniciar">REGISTRARSE</p>
          <form>
            <div class="mb-3">
              <input type="email" class="form-control" name="email" [(ngModel)]="nuevoJugador.email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombre de usuario o email">
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" name="password" [(ngModel)]="nuevoJugador.password" id="exampleInputPassword1" placeholder="Contraseña">
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" name="nombre" [(ngModel)]="nuevoJugador.nombre" id="exampleInputNombre" placeholder="Nombre">
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" name="apellido1" id="exampleInputEmail1" [(ngModel)]="nuevoJugador.apellido1" placeholder="Primer apellido">
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" name="apellido2" id="exampleInputEmail1" [(ngModel)]="nuevoJugador.apellido2" placeholder="Segundo apellido">
            </div>
            <button type="submit" class="btn" (click)="agregarJugador()">R E G I S T R A R S E</button>
          </form>
          <p class="mt-3 small">Si ya formas parte de nuestra comunidad, <a href="/login">inicia sesión</a>.</p>
        </div>
      </div>
    </div>
  </div>
  </body>
  