@font-face {
  font-family: 'Modesto';
  src: url("../../assets/fonts/Modesto.ttf") format('ttf');
}


.base {
  background-color: #222831; 
}

.secundario {
  background-color: #676C77; 
}

.ternario {
  background-color: #474D3B; 
}

.positivo {
  background-color: #ADCC6C !important; 
}

.negativo {
  background-color: #CC7B6C; 
}

.body {
  font-family: 'Roboto', sans-serif !important;
  background-color: #393e46 !important;
  display: flex;

  justify-content: center;
  padding: 10px;

  align-items: stretch;
  flex-wrap: wrap;
}

.retrato-pequeno {
  max-width: 250px;
  max-height: 250px;
}


.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px; 
  padding-top: 25px;
  background-color: #8d939c00;
  border-radius: 25px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.233);
  color: #000000;




}

.tituloCaract {
  font-family: 'Roboto', sans-serif !important;
}

.botonmas, .botonmenos {
  color: #ffffff !important; 
  background-color: #2d8a9c !important;

  margin-right: 10px;
  margin-left: 10px;
  font-weight: 900 !important;
  transition: all 0.3s ease !important;
  font-family: 'Roboto', sans-serif !important;
  border: 0;
}


.valorcaracteristica {
  text-align: center;
  background-color: #ffffff1a; 
  color: black;
  border: 0;
  font-family: 'Roboto', sans-serif !important;
}

h2 {
  color:  #2d8a9c !important;
  margin-bottom: 20px;
  font-family: "Modesto", sans-serif;
}

.form-group {
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 0;
}

.form-control, .modificador {
  background-color: #12525b1a; 
  border-radius: 25px;
  opacity: 0.9;
  color: #000000;

}

.diez {
  border: 0;
  max-width: 40px;
  text-align: center;
  margin-right: 10px;
}

.textarea {
  margin-bottom: 15px;
}

.title {
  text-align: center;
  color: #ffffff;
}

.send {
  color: #ffffff !important; 
  background-color: #2d8a9c !important;
  border-radius: 25px !important;
  padding: 10px 20px !important;
  font-weight: 500 !important;
  transition: all 0.3s ease !important;
  font-family: 'Roboto', sans-serif !important; 
  
}

.send:hover {
  background-color: #ce8821 !important;
}

.todo {
  background-color: #ffffff1a; 
  margin-bottom: 24px;
  padding: 20px;
  border-radius: 25px;
}

.habilidades-container {
  display: flex;
  flex-wrap: wrap;
}

.habilidad {
  flex: 0 0 50%; 
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.habilidad input[type="checkbox"] {
  margin-right: 10px;
}

.col-md-4 {
  margin-bottom: 20px; 
}

.mx-md-2 {
  margin-left: 150px; 
  margin-right: 150px;
}


.form-control-file{
font-size: small;

}