@font-face {
  font-family: "Modesto";
  src: url("../../assets/fonts/Modesto.ttf") format("ttf");
}

body {
  font-family: "Roboto", sans-serif !important;
  background-color: #393e46 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 10px;
}

.base {
  background-color: #222831;
}

.secundario {
  background-color: #676c77;
}

.ternario {
  background-color: #474d3b;
}

.positivo {
  background-color: #adcc6c !important;
}

.negativo {
  background-color: #cc7b6c;
}

.btn-back {
  background-color: #ce8821;
  border-radius: 25px;
  color: #ffffff;
  border: none
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
  padding: 25px;
  background-color: #ffffff !important;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.233);
  color: #000000;
  border-radius: 15px;
}

h2 {
  color: #2d8a9c !important;
  margin-bottom: 20px;

}

.form-group {
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 0;
}

.form-control,
.modificador {
  background-color: #12525b1a;
  border-radius: 25px;
  opacity: 0.9;
  color: #000000;
}

.diez {
  border: 0;
  max-width: 40px;
  text-align: center;
  margin-right: 10px;
}

.textarea {
  margin-bottom: 15px;
}

.title {
  text-align: center;
  color: #2d8a9c !important;
  font-family: "Modesto", sans-serif;
}

.send {

  background-color: #2d8a9c !important;
  color: white !important;
  border-radius: 25px !important;
  border: none;
  font-weight: 500 !important;
  padding: 8px 20px;
  margin-top: -40px;
  transition: background-color 0.2s ease;
  font-family: Modesto;
  width: 200px;
  margin-left: -150px;
  letter-spacing: 2px ;
  word-spacing: 4px;
  font-size: 20px;

}

.send:hover {
  background-color: #ce8821 !important;
}

.file-upload {
  display: block;
  text-align: center;
  background: #2d8a9c;
  color: white;
  border-radius: 25px;
  padding: 10px;
  cursor: pointer;
  margin-top: 50px;
  font-family: "Roboto", sans-serif !important;
  transition: background-color 0.2s ease;
}

.file-upload:hover {
  background-color: #ce8821;
}

input[type="file"] {
  display: none;
}

.habilidades-container {
  display: flex;
  flex-wrap: wrap;
}

.habilidad {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.habilidad input[type="checkbox"] {
  margin-right: 10px;
  accent-color: #2d8a9c;
}

.habilidad input[type="checkbox"]:checked {
  background-color: #2d8a9c;
}

.habilidad input[type="checkbox"]:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.botonmas,
.botonmenos {
  color: #ffffff !important;
  background-color: #2d8a9c !important;
  margin-right: 10px;
  margin-left: 10px;
  font-weight: 900 !important;
  transition: all 0.3s ease !important;
  font-family: "Roboto", sans-serif !important;
  border: 0;
}
.botonmas:hover,
.botonmenos:hover {
  background-color: #ce8821 !important;
  transform: scale(1.1);
}

.valorcaracteristica {
  text-align: center;
  background-color: #ffffff1a;
  color: black;
  border: 0;
  font-family: "Roboto", sans-serif !important;
}

.form-control-file {
  font-size: small;
}

.tituloCaract {
  font-family: "Roboto", sans-serif !important;
}

.todo {
  background-color: #ffffff1a;
  margin-bottom: 24px;
  padding: 20px;
  border-radius: 25px;
}

.col-md-4 {
  margin-bottom: 20px;
}

.mx-md-2 {
  margin-left: 150px;
  margin-right: 150px;
}

label {
  font-family: "Roboto", sans-serif !important;
  font-variant: small-caps;
}

.text-danger {
  font-size: 0.9rem;
  margin-top: 5px;
}

.file-name {
  display: block;
  margin-top: 10px;
  margin-bottom: 30px;
  color: #2d8a9c;
  font-family: "Roboto", sans-serif !important;
  font-size: 0.9rem;
  text-align: center;
}
.file-name.error {
  color: red;
}

.fixed-height {
  height: 100px;
  overflow-y: auto;
  resize: none;
}

.textarea {
  margin-bottom: 15px;
}

i {
  font-size: 20px;
  margin-right: 10px;
}

.form-control-static {
  color: #2d8a9c !important;
  margin-left: 10px;
  font-size: x-large !important;
  line-height: 1.0; /* Ajusta este valor según tus necesidades */
  vertical-align: middle; /* Puedes usar top, middle, bottom, text-top, text-bottom, etc. */
}

.fa-bolt{
  margin-right: 20px !important;
}